html {
  font-family: "Righteous", cursive;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background: white;
}
.container-main {
  max-width: 700px;
  margin: 0 auto;
  background-color: rgb(240, 255, 255);
  margin-top: 60px;
  margin-bottom: 100px;
}
/* Big image */
.logo-image img {
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}
/* Image navigation bar */
.images-main {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}
.column-main {
  width: 25%;
  padding: 5px;
  text-align: center;
}
.column-main img {
  width: 100px;
  height: 100px;
  padding: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}
.column-main p {
  margin-top: -10px;
  font-size: 12px;
}
/* Navigation Bar */
#navbar-hide {
  position: relative;
  height: 50px;
  background-image: url("../img/background_colour_50px.png");
  z-index: 9999;
  width: 100%;
  background-color: rgb(250, 184, 184);
}
.nav-img {
  width: 50px;
  height: 50px;
  vertical-align: middle;  
}
.horizontal-nav ul {
  list-style: none;
  text-align: center;
  padding: 10;
  margin-bottom: 10;
  margin-top: -10px;
}
.horizontal-nav li {
  font-size: 0.8em;
  line-height: 10px;
  height: 10px;
}
/* Text inside the navigation bar */
.horizontal-nav a {
  text-decoration: none;
  color: black;
  display: block;
}
/* Second Navigation Bar */
.horizontal-nav a:hover {
  color: red;
  opacity: 0.7;
}
.horizontal-subnav {
  width: 750px;
  margin: 0 auto;
}
.horizontal-subnav ul {
  list-style: none;
  text-align: center;
  padding: 10;
  margin-bottom: 10;
  margin-top: -10px;
}
.horizontal-subnav li {
  font-size: 0.8em;
  line-height: 10px;
  height: 10px;
  float: left;
}
.horizontal-subnav a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  margin-left: 100px;
}
.horizontal-subnav a:hover {
  color: red;
  opacity: 0.7;
}
/* Gallery image navigation bar in gallery */
.column-gallery {
  margin-top: 60px;
  float: left;
  text-align: center;
  width: 33.33%;
}
.column-gallery img {
  width: 250px;
  height: 300px;
  padding: 0;   
   vertical-align: middle;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Gallery image navigation bar in the rooms */
.column-two,
.column-one {
  float: left;
  text-align: center;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-left: 50px;
}
/*Gallery images Lightbox*/
.gallery-wrap {
  margin: 10px 50px;
}
.gallery-wrap img {
  transition: 1s;
  padding: 15px;
  width: 300px;
  height: 400px;
}
.gallery-wrap img:hover {
  transform: scale(1.1);
}
/*Contact form*/
.container-contact {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
}
.post {
  background-color: rgb(240, 255, 255);
  border-radius: 4px;
  padding: 10px;
  margin: 100px 0;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
}
form .post {
  min-height: 186px;
}
.post .avatar {
  margin: 0 10px 10px 0;
}
.post p {
  font-size: 14px;
}

.post p + img {
  width: 100%;
  margin-bottom: 15px;
}
.btn {
  color: #00cd73;
  border-color: #00cd73;
  background-color: transparent;
  font-weight: 700;
}
.btn-hover {
  color: white;
  border-color: #00cd73;
  background-color: #00cd73;
  font-weight: 700;
}
.btn-post {
  color: CornflowerBlue;
  border-color: CornflowerBlue;
  border-radius: 4px;
  border-width: 1px;
  text-decoration: none;
  background-color: transparent;
  font-weight: 700;
  padding: 5px;
  margin-right: 20px;
}
.btn-post:hover {
  color: white;
  border-color: CornflowerBlue;
  background-color: CornflowerBlue;
  font-weight: 700;
}
.postText {
  width: 50%;
  word-wrap: break-word;
  height: 100px;
  resize: none;
}
.red {
  color: red;
}
footer {
  position: fixed;
  bottom: 0;
  background-image: url("../img/background_colour_60px.png");  
  display: block;
  right: 0;
  left: 0;
  height: 90px;
}
.social-media {
  text-align: center;
  margin-top: -50px;
}
.social-media img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
}
.social-media img:hover {
  opacity: 0.5;
}
.contact-us {
  font-family: "Times New Roman";
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  text-align: center;
  font-size: 14px;
  padding-left: 0px;
  margin-bottom: 50px;
}
.contact-us li a {
  color: #0a0a0a;
}
/*Tips page*/
.tips-header {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .horizontal-nav li {
    width: 120px;
    border-bottom: none;
    height: 10px;
    line-height: 20px;
  }
  .horizontal-nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
